body {
    background-color: rgb(244, 244, 244);
    font-family: sans-serif;
    margin-top: 0px;
}

a {
    color: rgb(99, 73, 0);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#navigation a,
footer a {
    text-decoration: none;
    font-weight: lighter;
}

footer a {
    font-weight: 400;
}

#navigation {
    height: 225px;
    width: 93%;
    background-image: url("../images/heading-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 100px;
}

h1 {
    height: 62px;
    margin-bottom: 315px;
    margin-left: -75px;
    margin-top: 10px;
    background-color: rgb(251, 247, 234);
    border: solid rgb(251, 247, 234) 2px;
    padding-left: 154px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: 27px;
    white-space: nowrap;
    color: rgb(99, 73, 0);
    font-weight: normal;
}

h2 {
    background-color: rgb(251, 247, 234);
    padding-top: 10px;
    padding-bottom: 45px;
    margin-right: 7px;
    color: rgb(132 82 0);
    font-weight: normal;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

header nav,
footer ul {
    display: flex;
    flex-basis: 75%;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 50px;
    list-style-type: none;
}

header nav li {
    display: inline-flex;
    margin-left: 25px;

}

header nav li:hover {
    text-decoration: overline rgb(99, 73, 0);
    font-weight: bolder;
}


section,
footer {
    display: flex;
    /* Sets space between main section and footer header borders */
    margin: 40px 0;
}

section header,
footer header {
    /* Positions content in main section and footer*/
    flex-basis: 24%;
    /* Adds right border to main section headers and footer headers*/
    border-right: solid rgb(163, 149, 102) 3px;
    /* Sets space between content to the right of each main section header/footer 
    header and their right border*/
    margin-right: 22px;
    /* Sets position of main section header and footer header in relation to their right border  */
    text-align: right;
    /* Sets space between main section headers/footer headers and their 
    right border */
    padding-right: 10px;
    font-size: 24px;
}

section div,
footer ul {
    /* Positions main section and footer content */
    flex-basis: 65%;
}

section div h3 {
    /* Sets space between thde bottom of section div h3's and the top of section div p's */
    margin-bottom: 2px;
}

section div p {
    /* Sets space between top of section div p's and the bottom of section div h3's */
    margin-top: 5px;
}

#projects {
    /* Allows all link boxes in the main section div that has #projects id
     to be positioned*/
    display: flex;
    flex-wrap: wrap;
}

#projects a {
    /* Gives all link boxes in main section div an outline */
    outline: solid rgb(163, 149, 102) 3px;
    border-radius: 35px;
}

#projects div {
    background-color: rgb(251, 247, 234);
    display: flex;
    /* Sets position of header and p within link boxes*/
    flex-direction: column;
    flex-basis: 50%;
    /* Sets space between h3/p bottom border and the bottom border of link boxes */
    margin-bottom: 20px;
    padding-left: 3px;
}

#projects p {
    font-size: 10px;
}

#projects a:first-child {
    /* Sets space between the right border h3/p of first link box and right border
    of the link box it is in */
    padding-right: 260px;
}

#projects a:not(:first-child) {
    /* Sets the height and width of link boxes after first link box */
    height: 150px;
    width: 366px;
    display: flex;
    /* Sets the h3/p in position */
    align-items: flex-end;
}

#projects a:nth-child(2),
#projects a:nth-child(3) {
    /* Sets space between link boxes 1 and 2's bottom border and the link 
    boxes beneath them */
    margin-bottom: 25px;
}

#projects a:nth-child(3),
#projects a:nth-child(5) {
    /* Sets space between link boxes 3 and 5's left border and the link 
boxes to their left */
    margin-left: 25px;
}

#projects a:nth-child(2) {
    background-image: url("../images/projecttwo.jpg");
    background-position: center;
    background-size: contain;
}

#projects a:nth-child(3) {
    background-image: url("../images/projectthree.jpg");
    background-position: center;
    background-size: contain;
}

#projects a:nth-child(4) {
    background-image: url("../images/projectfour.jpg");
    background-position: center;
    background-size: contain;
}

#projects a:nth-child(5) {
    background-image: url("../images/projectfive.jpg");
    background-position: center;
    background-size: contain;
}


#p-one {
    /* Sets position of first link box */
    flex-basis: 61%;
    /* Sets the height of 1st link box */
    height: 340px;
    /* Sets space between first link box's bottom border 
    and the follwing link boxes */
    margin-bottom: 25px;
    /* Sets the position of the bordered h3/p within link box */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: url("../images/projectone.jpg");
    background-position: center;
    background-size: contain;
}

#p-one div {
    /* Sets space between bottom border of the first link box's h3/p border 
    and the first link box's border*/
    margin-bottom: 25px;
}

footer ul {
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 1180px) {
    #projects a {
        height: 170px;
        flex-basis: 100%;
        width: 340px;
    }
}

@media screen and (max-width: 1180px) {

    #projects a:nth-child(3),
    #projects a:nth-child(5) {
        margin-left: 1px;
    }
}

@media screen and (max-width: 1180px) {
    #projects a:nth-child(5) {
        margin-top: 25px;
    }
}